.area{
    height: 100px;
    background-color:antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
}
/* .logoimg{
    margin-top: 26px;
} */
.listitem{
    display: inline-block;
    margin: 10px 20px;
}
.lists:hover{
    color: red;
}
.lists{
    text-decoration: none;
    color: black;
    font-weight: bold;
    
}
nav{
    display: flex;/* align items in a line */
    justify-content: space-between;/* place elements one on left and one on right */
    align-items: center;/* to align items vertically center */

}